[
  {rabbit, [
    {default_vhost, <<"/">>},
    {default_user, <<"gps_service">>},
    {default_pass, <<"gps_service_password">>},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
    {loopback_users, []},
    {tcp_listeners, [5672]},
    {num_tcp_acceptors, 10},
    {heartbeat, 60},
    {vm_memory_high_watermark, 0.6},
    {disk_free_limit, 1000000000},
    {log, [
      {console, [
        {level, info},
        {enabled, true}
      ]},
      {file, [
        {file, "/var/log/rabbitmq/rabbit.log"},
        {level, info},
        {date, "$D0"},
        {size, 10485760},
        {count, 5}
      ]}
    ]}
  ]},
  {rabbitmq_management, [
    {listener, [
      {port, 15672},
      {ip, "0.0.0.0"}
    ]},
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]},
  {rabbitmq_mqtt, [
    {default_user, <<"gps_service">>},
    {default_pass, <<"gps_service_password">>},
    {allow_anonymous, false},
    {vhost, <<"/">>},
    {exchange, <<"amq.topic">>},
    {subscription_ttl, 1800000},
    {prefetch, 10},
    {tcp_listeners, [1883]},
    {num_tcp_acceptors, 10},
    {tcp_listen_options, [
      {backlog, 128},
      {nodelay, true}
    ]}
  ]}
].
